<div id="viewcontent">
<!--  Container    -->
<link href="partials/eCustomCss/MessageBoardReplyCustom.css" rel="stylesheet" media="screen">
<div class="Container">
    
</div>
</div>


<div class="col-sm-12 Container-Class-Last">
 <div class="Container-Div-Last">
 
  <div class="Message-Board">
	<div class="text-Area-Div">
	 <h4>Post reply</h4>
	 <div class="text-Area"><textarea id="textarea" style="width:100%; height:100px" maxlength="500" placeholder="Post a new message here...."  ng-model="replyfield"></textarea></div>
	 <div class="Label-Button-Div">
	  <div class="Textarea-Label"></div>
	  <div class="post-Button-Div"><button class="Textarea-post-button" ng-click="postReply()" ng-disabled="( replyfield == null ) || ( mydata == null ) || (replyfield == '')">Post</button></div>
	 </div>
	</div>
  </div>
  
  <div class="Table-container">
    <table width="100%">
			 <tr>
			 <td class="TD-RIGHT">
				<table class="table RightSideTable" style="min-height:296px; max-height:296px;">
                    <thead>
                        <tr class="RightSideSecondTableHeader">
                            <th style="width:520px">Description</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:left">
                       <tr>
                            <td class="Message-Text-Td">
                             <p>{{mydata.Post.Content}}</p>
                             <span><b>{{mydata.Post.Login_id}} </b></span><span> <b>{{mydata.Post.date | date:"dd/MM/yyyy 'at' h:mma" }}</b></span>
                            </td>
                       </tr>
                           
                        <tr ng-repeat="rep in mydata.Post.Reply" style="background-color: {{colorarr[$index]}};">
                            <td class="Message-Text-Td" style="padding-left: 30px;">
                             <p>{{rep.Content}}</p>
                             <span style="color:#c3c3c3;"><i>{{rep.Login_id}}</i> </span><span style="color:#c3c3c3;"><i> {{rep.date | date:"dd/MM/yyyy 'at' h:mma"}}</i></span>
                            </td>
                        </tr>

                     
                      </tbody>
                    </table>
			  </td>
			 
			 </td>
			 </tr>
			 </table>
  </div>
 </div>
</div>
<div class="col-sm-12 Warning-Div-Container">
 <div class="Container-Div-class">
 <div class="Warning-image"><img src="images/caution-icon.png"/></div>
 <div class="Warning-content">
   The content provided here is proprietary to IBM and is intended for use between IBM Geo Client and Jostens and at no point of time should the content represented here be shared with others or used for public viewing. 
   Use of IBM's systems is restricted to management approved purposes and subject to all applicable IBM policies and guidelines.
 </div>
 </div>
</div>
<div id="footer"></div>
<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
<script>
$(document).ready(function () {
$(".loading").css("display", "none");
	//Function To Calculate Number of Characters inside TEXTAREA
	var text_max = 500;
    $('.Textarea-Label').html('you have ' + text_max + ' characters left');

    $('#textarea').keyup(function() {
        var text_length = $('#textarea').val().length;
        var text_remaining = text_max - text_length;

        $('.Textarea-Label').html('you have ' + text_remaining + ' characters left');
    });

});
</script>
</div>

